
.floatbanners {
    position: absolute;
    top: 360px;
    
}
	
.floatbanners.left{
	
	left:0px;
	}
.floatbanners.right{
	
	right:0px;
	}

.floatbanners img {
	width:100% !important;
}



@media (max-width: 1470px) {
	
.floatbanners{
		display:none;
	
	}
	
	
	
}



@media (min-width: 1470px) {
	
.ad-banner-landscape {
		display:none;
	
	}
	
	
	
}


/*
     FILE ARCHIVED ON 06:02:46 Mar 19, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:22:19 Dec 31, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 124.019
  exclusion.robots: 0.122
  exclusion.robots.policy: 0.114
  cdx.remote: 0.085
  esindex: 0.01
  LoadShardBlock: 86.643 (3)
  PetaboxLoader3.datanode: 81.048 (4)
  CDXLines.iter: 18.064 (3)
  load_resource: 122.198
  PetaboxLoader3.resolve: 44.066
*/